body {
    font-family: Arial, san-serif;
    background-color: bisque;
    padding: 40px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20 px;
    max-width: 500 px;
}

.top-nav {
    width: 100%;
    padding: 24px 0;
}

.nav-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px 28px;

    background-color: #a19494;
    border-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6)
}

.nav-links a {
    margin-left: 20px;
    font-size: 0.95rem;
    color: #555;
    transition: color 0.2 ease;
}

.nav-links a:hover {
    color: #000
}