body {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(242, 238, 234);
    color: #333;
    padding: 20px;
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 15px;
}

h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    max-width: 500px;
}

.top-nav {
    background-color: #b4abab;
    padding: 15px 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
}

.top-nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #0b0303;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}

.top-nav a:hover {
    color: #f9f3f3;
    transform: scale(1.05);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.profile-img {
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #333;
    object-fit: cover;
}

.header-text h1 {
    font-size: 60px;
    margin: 0;
}

.header-text .subtitle {
    font-size: 20px;
    color: #555;
    margin: 5px 0 0 0;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section-grid section {
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

#contact {
    grid-column: 1 / -1;
}

.section-light {
    background-color: #fff8f0;
    padding: 50px 0;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 12px;
    line-height: 1.5;
}

form input, form textarea {
    border-radius: 8px;
}

form button {
    background-color: #835b5b;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #6f6c70;
    color: #000;
}

form .mb-3 {
    margin-bottom: 1.2rem;
}

.zoom-section {
    position: relative;
    transform: scale(0.95);
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.4 ease;
}

.zoom-section:target .close-btn{
    display: block;
}

.zoom-section:target{
    position: fixed;
    inset: 0;
    width: 100vw;
    background-color: #fff8f0;
    z-index: 9999;
    overflow-y: auto;
    padding: 80px 20px;
    transform: scale(1);
    opacity: 1;
}

.zoom-section:not(:target) {
    transform: scale(0.96);
}

.close-btn {
    position: fixed;
    top: 25px;
    right: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #0d0b0b;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 999px;
    transition: background-color 0.3s, transform 0.2s;
    display: none;
}

.close-btn:hover {
    background-color: #3f3e3b;
    color: #000;
    transform: scale(1.05);
}
